/*Inizio general*/
.container{
   margin: 0 20px; 
}


.row{
    margin: auto;
    max-width: 1200px;
}

.product{
    display: inline-block;
    padding: 0px;
    width: 30%;
    margin-bottom: 50px;

}
/*Fine general*/


/*Inizio immagini*/
.immagini{
    position: relative;
    width: 100%;
}

.cont-picture-b{
    display: inline-block;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.product:hover .cont-picture-b{
    visibility: visible;
}

.picture-a{
    z-index: 1;  
}

.picture-a, .picture-b{
    width: 100%;
}
/*Fine immagini*/


/*Inizio icona*/
.heart{
    text-align: center;
    width: 35px;
    height: 35px;
    position: absolute;
    background-color: white;
    top: 15px;
    right: 0;
}

.icon{
    display: inline-block;
    line-height: 35px;
}
/*Fnizio icona*/


/*Inizio parte bassa immagini*/
.parte-bassa{
    position: absolute;
    display: inline-block;
    bottom: 20px;
    left: 0px;
}
.sconto, .sostenibilità{
    color: white;
    padding: 5px;
}

.sconto{
    display: inline-block;
    background-color: red;
    font-weight: bold; 
}

.sostenibilità{
    position: relative;
    left: 1px;
    background-color: green;
    font-weight: bold;
}
/*Fine parte bassa immagini*/


/*Inizio info*/
.info{
    margin-top: 10px;
}

.brand, .old-price{
    color: gray; 
}

.new-price{
    color: red;
    font-weight: bold; 
}

.old-price{
    text-decoration: line-through;
}
/*Fine info*/

